<% provide(:title, t(".help")) %>

<%= t(".header_msg_html")%>
<p>
  <%= t(".content1") %>
  <%= link_to t(".link_help"), "https://www.railstutorial.org/help" %>.
  <%= t(".content2") %>
  <em><%= link_to t(".link_book"), "https://www.railstutorial.org/book" %></em> <%= t(".book") %>.
</p>
